[submodule "work/submodule"]
	path = work/submodule
	url = https://github.com/gouravch1999/submodule.git
[submodule "work/Module"]
	path = work/Module
	url = https://github.com/gouravch1999/Module.git
[submodule "work/test-"]
	path = work/test-
	url = https://github.com/gouravch1999/test-.git
