<?xml version="1.0" encoding="UTF-8"?>
<CONFIGURATION xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SCHEMA_VERSION="1.18.0">
  <BUILD_FILE>.\build.xml</BUILD_FILE>
  <UNITS_DEF>.\units.xml</UNITS_DEF>
  <PROJECT_NAME></PROJECT_NAME>
  <DATAMODELS>
    <DATAMODEL>
      <MOD_PATH>.\intc_sigcv_rx_prim.xml</MOD_PATH>
      <MOD_NAME>intc_sigcv_rx_prim</MOD_NAME>
    </DATAMODEL>
    <DATAMODEL>
      <MOD_PATH>.\intc_sigcv_rx_sec.xml</MOD_PATH>
      <MOD_NAME>intc_sigcv_rx_sec</MOD_NAME>
    </DATAMODEL>
    <DATAMODEL>
      <MOD_PATH>.\intc_sigcv_tx_prim.xml</MOD_PATH>
      <MOD_NAME>intc_sigcv_tx_prim</MOD_NAME>
    </DATAMODEL>
    <DATAMODEL>
      <MOD_PATH>.\intc_sigcv_tx_sec.xml</MOD_PATH>
      <MOD_NAME>intc_sigcv_tx_sec</MOD_NAME>
    </DATAMODEL>
  </DATAMODELS>
  <SIGNAL_FILTERS/>
  <CODEGENERATOR>
    <GEN_VERSION>6.2.0</GEN_VERSION>
    <OUT_PATH>.\code\</OUT_PATH>
    <ERROR_ANALYSIS>FALSE</ERROR_ANALYSIS>
    <APPROX_WARNING_LEVEL>0.5</APPROX_WARNING_LEVEL>
    <APPROX_ERROR_LEVEL>1.0</APPROX_ERROR_LEVEL>
    <APPROX_MAX_DENOMINATOR>8192</APPROX_MAX_DENOMINATOR>
    <ONE_TO_N_MAPPING_MAX_COUNT>10.0</ONE_TO_N_MAPPING_MAX_COUNT>
    <ONE_TO_ONE_MAPPING_MAX_COUNT>100000.0</ONE_TO_ONE_MAPPING_MAX_COUNT>
    <FILE_PREFIX>ipl_hook</FILE_PREFIX>
    <FLAGS>CREATE_DATA_FILE CREATE_PL_INIT_SIGNAL_FILE SUPPRESS_SIGNAL_INIT_FUNCTIONS SUPPRESS_SIGNAL_INVALID_FUNCTIONS SUPPRESS_PL_INIT_FUNCTIONS SUPPRESS_PL_INVALID_FUNCTIONS READ_API_FOR_SIGNAL_WITH_RETURN WRITE_API_FOR_SIGNAL_WITH_RETURN READ_API_FOR_ARRAY_TYPE_SIGNAL_WITH_RETURN WRITE_API_FOR_ARRAY_TYPE_SIGNAL_WITH_RETURN READ_API_FOR_GROUP_SIGNAL_WITH_RETURN WRITE_API_FOR_GROUP_SIGNAL_WITH_RETURN WRITE_API_FOR_GROUP_WITH_RETURN READ_API_FOR_GROUP_WITH_RETURN IGNORE_CSTATEMENT_FOR_SINGLE_VARIANT</FLAGS>
    <CG_GENERAL_SETTINGS>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_CODE_SERVICE</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_CODE_SERVICE</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_CODE_SLOW</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_CODE_SLOW</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_DATA_PUBLIC_INT_8</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_DATA_PUBLIC_INT_8</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_DATA_PUBLIC_INT_16</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_DATA_PUBLIC_INT_16</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_DATA_PUBLIC_INT_32</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_DATA_PUBLIC_INT_32</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_MEM_DATA_PUBLIC_INT_64</STRING_KEY>
        <STRING_VALUE>ICS_PL_MEM_DATA_PUBLIC_INT_64</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_CODE_10MS</STRING_KEY>
        <STRING_VALUE>MEM_CODE_10MS</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_CODE_SLOW</STRING_KEY>
        <STRING_VALUE>MEM_CODE_SLOW</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_DATA_PUBLIC_8</STRING_KEY>
        <STRING_VALUE>MEM_DATA_PUBLIC_8</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_DATA_PUBLIC_16</STRING_KEY>
        <STRING_VALUE>MEM_DATA_PUBLIC_16</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_DATA_PUBLIC_32</STRING_KEY>
        <STRING_VALUE>MEM_DATA_PUBLIC_32</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_DATA_PUBLIC_64</STRING_KEY>
        <STRING_VALUE>MEM_DATA_PUBLIC_64</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>MEM_CODE</STRING_KEY>
        <STRING_VALUE>MEM_CODE</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>gmem.h</STRING_KEY>
        <STRING_VALUE>gmem.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>general.h</STRING_KEY>
        <STRING_VALUE>general.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_variant</STRING_KEY>
        <STRING_VALUE>ipl_variant</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_pcnf.h</STRING_KEY>
        <STRING_VALUE>ipl_pcnf.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_lib.h</STRING_KEY>
        <STRING_VALUE>ipl_lib.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_types.h</STRING_KEY>
        <STRING_VALUE>ipl_types.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_miaxcnf.h</STRING_KEY>
        <STRING_VALUE>ipl_miaxcnf.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>_includes.h</STRING_KEY>
        <STRING_VALUE>_includes.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ipl_hook_im.h</STRING_KEY>
        <STRING_VALUE>intc_sigcv_mc1_im.h</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_U8</STRING_KEY>
        <STRING_VALUE>ICS_PL_U8</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_U16</STRING_KEY>
        <STRING_VALUE>ICS_PL_U16</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_U32</STRING_KEY>
        <STRING_VALUE>ICS_PL_U32</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_U64</STRING_KEY>
        <STRING_VALUE>ICS_PL_U64</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_S8</STRING_KEY>
        <STRING_VALUE>ICS_PL_S8</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_S16</STRING_KEY>
        <STRING_VALUE>ICS_PL_S16</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_S32</STRING_KEY>
        <STRING_VALUE>ICS_PL_S32</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_S64</STRING_KEY>
        <STRING_VALUE>ICS_PL_S64</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_FLAG</STRING_KEY>
        <STRING_VALUE>ICS_PL_FLAG</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_FLOAT</STRING_KEY>
        <STRING_VALUE>ICS_PL_FLOAT</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>volatile</STRING_KEY>
        <STRING_VALUE>volatile</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_RETURN_TYPE</STRING_KEY>
        <STRING_VALUE>ICS_PL_RETURN_TYPE</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_TRUE</STRING_KEY>
        <STRING_VALUE>ICS_PL_TRUE</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_FALSE</STRING_KEY>
        <STRING_VALUE>ICS_PL_FALSE</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_InvalidateSignal_</STRING_KEY>
        <STRING_VALUE>ICS_PL_InvalidateSignal_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_InitSignal_</STRING_KEY>
        <STRING_VALUE>ICS_PL_InitSignal_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>PL_Cvt_</STRING_KEY>
        <STRING_VALUE>PL_Cvt_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>PL_Group_Cvt_</STRING_KEY>
        <STRING_VALUE>PL_Group_Cvt_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>PL_Cvt_SomeIp_</STRING_KEY>
        <STRING_VALUE>PL_Cvt_SomeIp_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_InvalidateSignals</STRING_KEY>
        <STRING_VALUE>ICS_PL_InvalidateSignals</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>ICS_PL_InitSignals</STRING_KEY>
        <STRING_VALUE>ICS_PL_InitSignals</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>GET_</STRING_KEY>
        <STRING_VALUE>GET_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>SET_</STRING_KEY>
        <STRING_VALUE>SET_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>READ_SIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>READ_SIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>WRITE_SIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>WRITE_SIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>READ_ARRAY_SIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>READ_ARRAY_SIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>WRITE_ARRAY_SIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>WRITE_ARRAY_SIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>READ_GROUPSIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>READ_GROUPSIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>WRITE_GROUPSIGNAL_DATA_API</STRING_KEY>
        <STRING_VALUE>WRITE_GROUPSIGNAL_DATA_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>READ_SIGNALGROUP_API</STRING_KEY>
        <STRING_VALUE>READ_SIGNALGROUP_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>WRITE_SIGNALGROUP_API</STRING_KEY>
        <STRING_VALUE>WRITE_SIGNALGROUP_API</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>Iopt_Func_Set</STRING_KEY>
        <STRING_VALUE>Iopt_Func_Set</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>SomeIpXf_Inv_Com_</STRING_KEY>
        <STRING_VALUE>SomeIpXf_Inv_Com_</STRING_VALUE>
      </CG_GENERAL_SETTING>
      <CG_GENERAL_SETTING>
        <STRING_KEY>SomeIpXf_Com_</STRING_KEY>
        <STRING_VALUE>SomeIpXf_Com_</STRING_VALUE>
      </CG_GENERAL_SETTING>
    </CG_GENERAL_SETTINGS>
    <CG_OPTIONS/>
  </CODEGENERATOR>
  <SPECGENERATOR>
    <GEN_VERSION>6.2.0</GEN_VERSION>
    <OUT_PATH>.\code\</OUT_PATH>
    <SECTION>VARIANT_OVERVIEW MESSAGE_OVERVIEW MAPPING_OVERVIEW MAPPING_TYPE</SECTION>
    <SPEC_GEN_OVERRIDES>
      <SPEC_GEN_OVERRIDE>
        <STRING_KEY>PDU_COLUMN_HEADING_OVERRIDES</STRING_KEY>
        <STRING_VALUE>IPDU,Supplier Name</STRING_VALUE>
      </SPEC_GEN_OVERRIDE>
      <SPEC_GEN_OVERRIDE>
        <STRING_KEY>BUSSIGNAL_COLUMN_HEADING_OVERRIDES</STRING_KEY>
        <STRING_VALUE>Signal name,Bit size,Startbit,Min Raw,Max Raw,Display Limits,Unit,Offset,Scale,MUX Name,Init Value,Invalid Value</STRING_VALUE>
      </SPEC_GEN_OVERRIDE>
      <SPEC_GEN_OVERRIDE>
        <STRING_KEY>SYSTEMSIGNAL_COLUMN_HEADING_OVERRIDES</STRING_KEY>
        <STRING_VALUE>Signal name,Q Bit,Min Raw,Max Raw,Phys. Min,Phys. Max,Offset,Scale,Unit,Init Value,Invalid Value</STRING_VALUE>
      </SPEC_GEN_OVERRIDE>
      <SPEC_GEN_OVERRIDE>
        <STRING_KEY>MAPPING_COLUMN_HEADING_OVERRIDES</STRING_KEY>
        <STRING_VALUE>Systemsignal,Conversion,Bussignal</STRING_VALUE>
      </SPEC_GEN_OVERRIDE>
    </SPEC_GEN_OVERRIDES>
    <SPEC_GEN_SORTERS>
      <MESSAGE_OVERVIEW>IPDU_NAME</MESSAGE_OVERVIEW>
      <BUSSIGNAL_OVERVIEW>BUSSIGNAL_NAME</BUSSIGNAL_OVERVIEW>
      <MAPPING_OVERVIEW>MAPPING_ID</MAPPING_OVERVIEW>
    </SPEC_GEN_SORTERS>
  </SPECGENERATOR>
  <MEMORY>
    <ICS_PL_MEM_CODE_SERVICE>MEM_CODE_10MS</ICS_PL_MEM_CODE_SERVICE>
    <ICS_PL_MEM_CODE_SLOW>MEM_CODE_SLOW</ICS_PL_MEM_CODE_SLOW>
    <ICS_PL_MEM_DATA_PUBLIC_INT_8>MEM_DATA_PUBLIC_8</ICS_PL_MEM_DATA_PUBLIC_INT_8>
    <ICS_PL_MEM_DATA_PUBLIC_INT_16>MEM_DATA_PUBLIC_16</ICS_PL_MEM_DATA_PUBLIC_INT_16>
    <ICS_PL_MEM_DATA_PUBLIC_INT_32>MEM_DATA_PUBLIC_32</ICS_PL_MEM_DATA_PUBLIC_INT_32>
    <ICS_PL_MEM_DATA_PUBLIC_INT_64>MEM_DATA_PUBLIC_64</ICS_PL_MEM_DATA_PUBLIC_INT_64>
  </MEMORY>
  <VARIANT_SETTING/>
  <ACTIVEVARIANTS>
    <ACTIVEVARIANT>SecondaryCAN</ACTIVEVARIANT>
    <ACTIVEVARIANT>PrimaryCAN</ACTIVEVARIANT>
  </ACTIVEVARIANTS>
  <BUSES>
    <BUS>
      <NAME>Edu_Primary</NAME>
      <PROTOCOL>CAN</PROTOCOL>
      <AUX_NAME></AUX_NAME>
      <DESCRIPTION xsi:nil="true"/>
    </BUS>
    <BUS>
      <NAME>Edu_Secondary</NAME>
      <PROTOCOL>CAN</PROTOCOL>
      <AUX_NAME></AUX_NAME>
      <DESCRIPTION></DESCRIPTION>
    </BUS>
    <BUS>
      <NAME>Edu_Private</NAME>
      <PROTOCOL>CAN</PROTOCOL>
      <AUX_NAME></AUX_NAME>
      <DESCRIPTION></DESCRIPTION>
    </BUS>
  </BUSES>
  <FARM>
    <GEN_VERSION>6.2.0</GEN_VERSION>
    <MIXED_CASE>false</MIXED_CASE>
    <MIXED_CASE_SUMAUX>true</MIXED_CASE_SUMAUX>
    <BUS_AUX_NAMING>
      <FORMAT>%0%1%n</FORMAT>
      <VALUES>ERR_COM_</VALUES>
    </BUS_AUX_NAMING>
    <SYSTEM_SUM_AUX_NAMING>
      <FORMAT>%0%n</FORMAT>
      <VALUES></VALUES>
    </SYSTEM_SUM_AUX_NAMING>
    <RANGE_AUX_NAMING>
      <FORMAT>%0%n</FORMAT>
      <VALUES></VALUES>
    </RANGE_AUX_NAMING>
    <QUALITY_AUX_NAMING>
      <FORMAT>%0%1%n</FORMAT>
      <VALUES>QLY_</VALUES>
    </QUALITY_AUX_NAMING>
    <TIMEOUT_AUX_NAMING>
      <FORMAT>%0%1%n%2</FORMAT>
      <VALUES>COM_;_TOUT</VALUES>
    </TIMEOUT_AUX_NAMING>
    <PLAUS_AUX_NAMING>
      <FORMAT>%0%1%n%2</FORMAT>
      <VALUES>COM_;_PLAUS</VALUES>
    </PLAUS_AUX_NAMING>
    <GEN_FARM_LOG>true</GEN_FARM_LOG>
    <CONTI_NAME_FOR_AUX_NAMING>true</CONTI_NAME_FOR_AUX_NAMING>
    <LINK_AUX_ACTIVE_PDU_BUS>true</LINK_AUX_ACTIVE_PDU_BUS>
    <CREATE_OUT_OF_RANGE_AUX_LINK>false</CREATE_OUT_OF_RANGE_AUX_LINK>
    <LINK_AUX_SUPPRESS_PDU_AUX>false</LINK_AUX_SUPPRESS_PDU_AUX>
    <EXCLUDE_FILE_PATH>.\ExcludeListOfSystemSignals.txt</EXCLUDE_FILE_PATH>
    <BUS_AUX_NAME_FILE_PATH>.\AuxNamingList.txt</BUS_AUX_NAME_FILE_PATH>
    <BUS_NAME_LIST></BUS_NAME_LIST>
  </FARM>
  <GENRAL_SETTINGS>
    <QBIT_NAMING>qbit</QBIT_NAMING>
    <INIT_ATTRIBUTE_NAME>GenSigStartValue</INIT_ATTRIBUTE_NAME>
    <INVALID_ATTRIBUTE_NAME>GenSigInactiveValue</INVALID_ATTRIBUTE_NAME>
    <DIR_INPUTS>.\input</DIR_INPUTS>
    <DIR_LOG>.\log</DIR_LOG>
    <DIR_TEMPLATE>.\template</DIR_TEMPLATE>
    <LOG_LEVEL>INFO</LOG_LEVEL>
  </GENRAL_SETTINGS>
  <PROTOCOL_DEFINITIONS/>
</CONFIGURATION>